/*Edições gerais*/
html{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
/* Página home*/
#slide{
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

#slide h1{
    color: #880707;
    font-size: 2.6rem;
}

#slide li{
    font-size: 2.0rem;
    text-decoration: none;
}

#slide .col-md-4 p{
    font-size: 20px;
    text-align: justify;
}

.botao-topico{
    background: linear-gradient(to bottom left, #2a55ca 25%, #2a0704);
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 42px;
    transition: background 500ms, color 500ms;
    margin:5px;
}

.botao-topico:hover{
    background: linear-gradient(to bottom left, #2a0704 25%, #2a55ca );
    border: 2px solid #070068;
    color: #ffffff;
}

.botao-slide{
    background: linear-gradient(to bottom left, #D90416 25%, #011132);
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 42px;
    transition: background 500ms, color 500ms;
}

.botao-slide:hover{
    background: transparent;
    border: 2px solid #700276;
    color: #700276;
}

/*Empresas*/
.Empresas{
    height: 200px;
    width: 100%;
    background-color: rgb(1, 35, 46);
    color:white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.Empresas div{
    justify-content: center;
    padding: 10px;
    float: left;

}
/*Layout.js - Cabeçário Geral*/
.blocop{
    display: grid;
    grid-template-areas: 
    "eb1 . eb2 eb2";
    background-color: rgb(60, 60, 252);
}
.ebloco1{
    grid-area: eb1;
    display: grid;
    place-items: center;
}
.ebloco2{
    grid-area: eb2;
    display: grid;
}
.ordemli{
    background: transparent;
   
}
.estilobotao{
    padding: 20px;
    background: transparent;
    border: transparent; 
    color: white;
}
.ordemli :hover{
    background: #ffffea;
    color: #070068;
}

/*Menu Hamburger*/

.menu_hamburger{
    cursor: pointer;
    display: none;
    flex-direction: column;
}
.menu_hamburger div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 4px;
    transition: 0.3s;
}
/*Ver.js - Página Get*/

.container-grid{
    display: grid;
    grid-template-areas:'header';
    padding:50px
}
.itemheader{
    grid-area: header;
    text-align: center;
}
/* Carregamento */
.caixagridcarregar{
    display:grid;
    grid-template-areas:
    ". aa aa .";
  }
.elemento{
    grid-area: aa;
    display: grid;
    place-items: center;
    padding: 5%;
    margin:15px
}
/*Estilo dados*/
.containerprincipal{
    display:grid;
    grid-template-areas: 
    "caixaver1 caixaver2 caixaver2 caixaver2"
    "caixaver1 caixaver3 caixaver3 caixaver3"
    "caixaver1 caixaver3 caixaver3 caixaver3"
}
.caixaver1{
    display: grid;
    grid-area: caixaver1;
    padding: 20px;
    margin:10px;
    width:250px;
    background-color: rgba(82, 30, 30, 0.1);
}
.fontcolor{
    font-size: 20px;
    color:#1b0303;
}
.imagemdestaque1{
    box-shadow: 10px 5px 5px black;
}
.imagemdestaque2{
    box-shadow: 10px 5px 5px black;
}
.caixaver2{
    display: grid;
    grid-area: caixaver2;
    padding: 5px;
    gap:5px;
    margin:10px;
    grid-template-areas: 
    "f1 f1 f1 f1"
    "f4 f2 f2 ."
    "f4 . f3 f3";
    background-color: rgba(82, 30, 30, 0.1);
}
.elementocaixatitulo{
    background: linear-gradient(to bottom left, #D90416 25%, #011132);
    grid-area: f1;
    padding: 2px;
    border: 2px solid black;
    font-family:'Roboto', sans-serif;
    color: white;
    height: 80%;
}
@media(max-width: 700px){
    .elementocaixatitulo{
        font-size: 80%;
    }
    .selectmode{
        font-size:13px;
    }  
}
@media(max-width: 620px){
    .caixaver1{
        display: none;
    }
}
.elementocaixaimagem{
    grid-area: f4;
    width: 200px;
    height: 230px;
}
.elementobotaotitulo{
    grid-area: f3;
}
.selectmode{
    padding: 10px;
    border:solid 2px #4872c7;
    grid-area: f2;
    width:70%;
    height: 80%;
    color: rgb(29, 28, 28);
}
.tamanhoimagemcaixa{
    width:100px;
    height:100px
}
@media(max-width: 400px){
    .itemheader{
        font-size: 50%;
    }
    .elementocaixaimagem{
        width:50%;
        height: 50%;
    }
    .elementobotaotitulo{
        width:50%;
        font-size: 5px;
    }
    .selectmode{
        width:65%;
        height: 95%;
        font-size:7px;
    }
}
.caixaver3{
    display: grid;
    grid-area: caixaver3;
    padding: 10px;
}
/*estilo dados layout*/
.caixadedados{
    border-radius: 7px;
    box-shadow: 3px 3px rgb(255, 255, 255), 0em 0 0.4em rgb(36, 36, 0);
    padding: 5px;
    background-color: #50041a;
    gap:20px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}
.dadosbuscados {
    height: 10rem;
    background: linear-gradient(to bottom right,#F2F2F2,#d7e8ff);
    place-items: center;
    display: grid;
    
}
.tamanhocaixa{
    height:100%;
    padding: 5px;
}
.coresbtn{
    background: rgba(25, 3, 92, 0.8);
    border-radius: 5px;
    border: #23232e solid 1px;
    background: linear-gradient(to bottom left, #000000 25%, #8f8a8a);
    color: white;
}
.coresbtn:hover{
    background: linear-gradient(to bottom left, #8f8a8a 25%, #000000);
    border: 2px solid #070068;
    color: #ffffff;

}
/*estilo visual botao pagina Ver.js*/
.estilobotaobrilho{
    position: relative;
    left: 2%;
    text-align: center;
    background: black;
    font-size: 18px;
    color: white;
    margin:30px;
    border-radius: 60px;
    border: 4px solid black;
    box-shadow: inset 0 0 30px rgb(97, 96, 96);
  }
.estilobotaobrilho::after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    transform: skewX(-15deg);
}
.estilobotaobrilho::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    transform: skewX(-15deg);
}
.estilobotaobrilho:hover::before {
    left: 100px;
}
.estilobotaobrilho:hover::after {
    left: 100px;
}
/*Criar.js - Página Post*/
.subtitulo{
    display: grid;
    place-items: center;
}
.seleção{
    display: grid;
    place-items: center;
    padding-left:50px;
    width:70%
}
.dadostitulo{
    display: grid;
    place-items: center;
}
.dadostexto{
    display: grid;
    place-items: center;
}
.boxcriardados{
    padding: 10px;
}
/* Editar.js -Página Put*/
.dadostextoeditar{
    padding: 10px;
}
/*Del.js - Página Del*/
.caixadebotoes{
    display: grid;
    place-items: center;
    grid-template-areas: 
    ". bts1 bts2 .";
}
.bt1{
    display: grid;
    grid-area:bts1;
}
.bt2{
    display: grid;
    grid-area:bts2;
}
.caixadedadosdel{
    display: grid;
    place-items: center;
    background:linear-gradient(to bottom left, #D90416 25%, #011132);;
    border-radius: 5px;
    border: 3px solid black;
    margin:10px;
}
.layoutitemd{
    border-bottom: 5px solid #200303;
    border-radius: 10px;
    color:white;
}
@media(max-width: 850px){
    .layoutitemd{
        font-size: 15px;
    }
}
@media(max-width: 500px){
    .layoutitemd{
        font-size: 6px;
    }
    .tb{
        width:70%;
        font-size: 15px;
    }
}
/*NoPAge.js*/
.nopagelayout{
    display: grid;
    place-items: center;
}
/*Responsivo Home*/

@media(max-width: 620px){
    .home .container{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: -2;
    }
    .Empresas{
        display: flex;
        position: absolute;
        z-index: -2;
    }
    .container-grid{
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 0;
        z-index: -2;
    }
    .criar-responsivo{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: -2;
    }
    .containerprincipal{
        display: flex;
        flex-direction: column;
    }
    .seleção{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .form-select{
        width: 250px;
    }
}

/*Responsivo Editar*/

@media(max-width: 620px){
    .editar-responsivo{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: -2;
    }
}

/*Responsivo Deletar*/

@media(max-width: 620px){

    .delete-responsivo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        z-index: -2;
    }
    .delete-responsivo main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .caixadedadosdel{
        width: 80%;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .caixadadosdel h2{
        font-size: 18px;
    }
    .caixadadosdel div{
        margin: 0;
        width: 100%;
    }
}
@media(max-width: 425px){

    .delete-responsivo{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: -2;
    }
    .caixadedadosdel{
        width: 90%;
        overflow: hidden;
    }
    .caixadadosdel h2{
        font-size: 18px;
    }
    .caixadadosdel div{
        width: 80%;
    }
    .tb{
        width: 60%;
        font-size: 10px;
    }
}

/*Responsivo Ver*/

@media(max-width: 425px){
    .containerprincipal{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .caixaver2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .elementocaixatitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 50%;
    }
}

/*Menu Humburguer*/

@media(max-width: 620px){
    .nav{
        display: none;
        position: absolute;
        top: 0vh;
        right: 0vh;
        width: 50vw;
        height: 100%;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        z-index: -1;
        transform: translateX(100%);
    }
    .ordemli{
        display: flex;
        justify-content: center;
        width: 100%;
        background: none;
    }
    .estilobotao{
        background: none;
        color: #fff;
    }
    .menu_hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 50px;
    }
    .nav.active{
        display: flex;
        transition: transform 1s ease-in-out;
        animation: menuFade 2s ease forwards 0.3s;
    }
    
    .menu_hamburger.active .linha1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .menu_hamburger.active .linha2{
        opacity: 0;
    }
    .menu_hamburger.active .linha3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .container{
        z-index: -1;
    }

    @keyframes menuFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
    .nav.active .ordemli, .estilobotao{
        animation: menuFade 2s ease forwards 0.3s;
    }
}