html ,body {
    margin:0;
    padding:0;
}
/*Layout.js - Cabeçário Geral*/
.blocop{
    display: grid;
    grid-template-areas: 
    "eb1 . eb2 .";
    background-color: #1F549E
}
.ebloco1{
    grid-area: eb1;
    display: grid;
    place-items: center;
}
.ebloco2{
    grid-area: eb2;
    display: grid;
    grid-template-areas: 
    "ib21 ib22 ib23 ib24";
}
.ordemli{
    background: rgba(244, 43, 8, 0.8);
}
.estilobotao{
    padding: 20px;
    background: rgba(244, 43, 8, 0.8);
    border: rgba(244, 43, 8, 0.8) solid 1px; 
}
.ordemli :hover{
    background: #D94A70;
}
/*Ver.js - Página Get*/

.container-grid{
    display: grid;
    grid-template-areas:'header'
}
.itemheader{
    grid-area: header;
    text-align: center;
}
/* Main */
.item1{
    grid-area:item1
}
.item2{
    grid-area:item2
}
.caixa{
    display: grid;
    grid-template-areas:
        ". item1 . item2";
}
.caixagridcarregar{
    display:grid;
    grid-template-areas:
    ". aa aa .";
  }
.elemento{
    grid-area: aa;
    display: grid;
    place-items: center;
    padding: 10%;
}
/*Estilo dados*/
.caixadedados{
    border-radius: 7px;
    border: 5px solid gray;
    padding: 5px;
    background-color: #1F549E;
    display:grid;
    gap:20px;
    grid-template-areas:
     "caixadeinformação caixadeinformação caixadeinformação caixadeinformação";
}
.caixadeinformação {
    padding: 5px;
    border:solid 10px #737373;
    border-radius: 7px;
    background: linear-gradient(to bottom right,#F2F2F2,#183B6A);
}
.imag{
    padding: 2px;
    display: grid;
    place-items: center;
}
.dadostexto{
    list-style: none;
    height:200px
}
.links{
    padding: 5px;
    display: grid;
    place-items: center;
}
.linktamanho{
    width:30vh
}
/*Criar.js - Página Post*/
.subtitulo{
    display: grid;
    place-items: center;
}
.seleção{
    display: grid;
    place-items: center;
    padding-left:50px
}
.dadostitulo{
    display: grid;
    place-items: center;
}
.dadostexto{
    display: grid;
    place-items: center;
}
/*Del.js - Página Del*/
.caixadebotoes{
    display: grid;
    place-items: center;
    grid-template-areas: 
    ". bts1 bts2 .";
}
.bt1{
    display: grid;
    grid-area:bts1;
}
.bt2{
    display: grid;
    grid-area:bts2;
}
.caixadedadosdel{
    display: grid;
    place-items: center;
    background-image: linear-gradient(to right top, #1f549e, #6777b2, #9a9dc7, #c7c6dc, #f2f2f2);
    border-radius: 5px;
    border: 7px solid black;
    margin:10px;
}
.layoutitemd{
    border-bottom: 5px solid #737373;
    border-radius: 15px;
}
/*NoPAge.js*/
.nopagelayout{
    display: grid;
    place-items: center;
}